.w3-text-indiasaffron{color:#ff9933 !important}.w3-indiasaffron{color:#ffffff !important;background-color:#ff9933 !important}
.w3-text-indiagreen{color:#138808 !important}.w3-indiagreen{color:#ffffff !important;background-color:#138808 !important}
.w3-text-navyblue{color:#000080 !important}.w3-navyblue{color:#000 !important;background-color:#000080 !important}
.w3-text-bright-navyblue{color:#1974d2 !important}.w3-india-green{color:#000 !important;background-color:#1974d2 !important}

@media screen {
    body {
        background-color: white;
        cursor: default;
    }

    body > header {
        box-shadow: 0px 5px 10px #aaa;
    }

    body > footer {
        box-shadow: 0px -5px 10px #aaa;
    }
}